.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board {
  background-color: red;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}
.resetButton {
  padding: 5px 10px;
  background-color: brown;
  outline: none;
  border: none;
  color: white;
  margin-bottom: 30px;
}
.pinkSquare {
  background-color: pink;
}
.greenSquare {
  background-color: teal;
}
